<h1><%= t "mailer.pw_reset.h1" %></h1>
<p><%= t "mailer.pw_reset.content1" %></p>
<%= link_to t("mailer.pw_reset.link"), edit_password_reset_url(
  @user.reset_token, email: @user.email) %>
<p><%= t "mailer.pw_reset.content2" %></p>
<p><%= t "mailer.pw_reset.content3" %></p>
